<div id="container" style="width: 800px; margin: 0 auto;">
<h1>This restaurant is about to be created:</h1>
        <p><%= @restaurant.name %></p>
        <p><%= @restaurant.address %></p>
        <p><%= @restaurant.phone_number %></p>
        <p><%= @restaurant.category %></p>
    <%= link_to restaurants_path do %>
    <i class="fas fa-home"></i>
  <% end %>



</div>
